.buttonBoz {
    position: relative;
    flex: 20%;
    color: white;
    background: green;
    border-radius: 35px;
    padding: 1px 60px;
    font-weight: 700;
}

.buttonz {
    width: 100%;
    letter-spacing: 1px;
    font-size: 16px;
    outline: none;
}

#fifthz,
.btn {
    overflow: hidden;
    border: 1px solid green;
    transition: all .5s ease-in-out;
}

#fifthz:before,
.btn:before {
    content: " ";
    display: block;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: -10px;
    left: -200px;
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
}

#fifthz:hover:before,
.btn:hover:before {
    margin-left: 300%;
}

#fifthz:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.btn {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 8px 20px;
    font-size: 20px;
    border: 2px solid transparent;
    transition: all 1s;
    border-radius: 35px;
}

.btn:hover {
    border: 2px solid white;
}

.HomeBgImage {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.4) 100%),
        url('Fondos/Imagen1.jpg') lightgray 50% / cover no-repeat;
    height: 100vh;
    width: 100%;
}

@media (max-width:767px) {
    .HomeBgImage {
        height: 15rem;
    }
}