.buttonBoz {
    position: relative;
    flex: 20%;
    color: white;
    background: green;
    border-radius: 35px;
    padding: 1px 60px;
    font-weight: 700;
}

.buttonz {
    width: 100%;
    letter-spacing: 1px;
    font-size: 16px;
    outline: none;
}

#fifthz {
    overflow: hidden;
    border: 1px solid green;
    transition: all .5s ease-in-out;
}

#fifthz:before {
    content: " ";
    display: block;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: -10px;
    left: -200px;
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
}

#fifthz:hover:before {
    margin-left: 300%;
}

#fifthz:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.btn {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 8px 20px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;

    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }

    &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid white;
        border-left: 5px solid white;
    }

    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
    }

    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

        &:before,
        &:after {
            width: 100%;
            height: 100%;
        }
    }
}