.buttonBox {
    position: relative;
    flex: 20%;
    color: white;
    background: green;
    border-radius: 35px;
    padding: 8px 70px;
    font-weight: 700;
}

button {
    width: 100%;
    letter-spacing: 1px;
    font-size: 15px;
    outline: none;
}

#fifth {
    overflow: hidden;
    border: 1px solid green;
    transition: all .5s ease-in-out;
}

#fifth:before {
    content: " ";
    display: block;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: -10px;
    left: -200px;
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
}

#fifth:hover:before {
    margin-left: 300%;
}

#fifth:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}