.titulo {
    color: white;
    font-size: 2.5rem;
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.subtitulo {
    color: white;
    font-size: 1.8rem;
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.contenedorServicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin-top: 1.5%;
}

.gridServicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min(1240px, 96vw);
    margin: 3rem auto;
    grid-gap: 4rem 3rem;
}

.servicioNombre {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.imagenServicio {
    width: 7rem;
    height: 7rem;
    margin: 2rem 0;
}

.descripcionServicio {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1%;
    color: rgba(255, 255, 255, 1);
    margin: 0 3rem 3rem 3rem;
}

@media (max-width: 1024px) {
    .gridServicios {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 767px) {
    .titulo {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 1.5rem;
        text-align: center;
    }

    .contenedorServicio {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .servicioNombre {
        text-align: center;
        font-size: 1.2rem;
    }

    .imagenServicio {
        width: 20%;
        height: auto;
        margin-top: 3%;
    }

    .descripcionServicio {
        font-size: 1.2rem;
        margin: 0 2rem 2rem 2rem;
    }
}