.sectionTitle {
    color: white;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin-top: 5rem;
    text-align: center;
    font-weight: 500;
}

.sectionSubtitle {
    color: white;
    font-size: clamp(1rem, 3vw, 1.25rem);
    margin-top: 1.75rem;
    text-align: center;
    font-weight: 400;
}

.contenedorServicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 4px rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
}

.gridServicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max(1280px, 80vw);
    margin: 3rem auto;
    grid-gap: 4rem 3rem;
}

.servicioNombre {
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

.imagenServicio {
    width: 7rem;
    height: 7rem;
}

.descripcionServicio {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1024px) {
    .gridServicios {
        grid-template-columns: repeat(1, 1fr);
    }
}