.galeriaClientes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min(80vw, 1280px);
    gap: 10rem;
}

.cliente {
    width: 100%;
    height: fit-content;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cliente:hover {
    transform: scale(1.1);
}

.cliente img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.nombreCliente {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    opacity: 0;
    transition: all 0.5s ease;
}

.cliente:hover .nombreCliente {
    opacity: 1;
}

@media (max-width:1024px) {
    .galeriaClientes {
        gap: 5rem;
    }
}

@media (max-width:767px) {
    .galeriaClientes {
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}